.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.card-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f3f3f3;
  min-height: 1000px;
  width: 75vw;
  min-width: 800px;
  max-width: 1500px;
  border-radius: 1rem;
  gap: 3rem;
  margin-top: 10rem;
}

.card-page > div {
  max-width: 800px;
}

.heading {
  font-size: 2em;
  font-weight: lighter;
}

.badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .card-page {
    width: 100%;
    min-width: 100%;
  }
}
