.nav * {
  padding: 0;
  margin: 0;
}

.nav {
  width: 100vw;
  position: fixed;
  height: 5rem;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  padding: 0 5rem;
  color: #ccc;
}

.nav ul {
  padding: 2rem;
  border-radius: 0.5rem;
}

/* slightly transparent fallback */
.nav ul {
  background-color: rgba(255, 255, 255, 0.9);
}

/* if backdrop support: very transparent and blurred */
@supports (
  (-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))
) {
  .nav ul {
    background-color: rgba(255, 255, 255, 0.55);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
}

.nav ul > a {
  padding: 0.5rem 2rem;
}

.nav ul > a.active {
  /* border-bottom: 2px solid black; */
  color: black;
  background-color: #ccc;
  border-radius: 5px;
}
